.place__url-link {
  display: inline-flex;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .place__url-link {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.place__url-link:hover {
  opacity: 0.8;
}
