.lead__title {
  font-size: 96px;
  margin: 0px;
  color: #ffffff;
  line-height: 100px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 32px;
  max-width: 720px;
}

@media (max-width: 767px) {
  .lead__title {
    font-size: 12.5vw;
    padding-bottom: 16px;
    line-height: 14vw;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 12.5vw;
    padding-bottom: 16px;
    line-height: 44px;
    max-width: 90vw;
  }
}
