.lead__image {
  max-width: 76.875vw;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    max-width: 90.625vw;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    max-width: 100%;
  }
}
