.lead__subtitle {
  font-size: 30px;
  margin: 0px;
  color: #ffffff;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 64px;
  max-width: 640px;
}

@media screen and (max-width: 1279px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media (max-width: 767px) and (min-width: 321px) {
  .lead__subtitle {
    max-width: 83.44vw;
    font-size: 3.91vw;
    padding-bottom: 40px;
    line-height: 4.69vw;
  }
}

@media (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 40px;
  }
}
