.cover {
  display: flex;
  flex-direction: column;
  /* width: 92.5vw; */
  margin: auto;
  align-items: center;
  background-position: center;
  background-image: url("../../images/cover-train.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(42, 44, 47, 0.3);
  background-clip: content-box;
  box-sizing: content-box;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}

.cover:hover {
  background-color: rgba(42, 44, 47, 0.8);
}
