.footer {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, max-content);
  padding: 92px 0px 0px;
}

@media screen and (max-width: 767px) {
  .footer {
    grid-template-columns: 1fr;
    padding: 64px 16px 0px;
    row-gap: 64px;
  }
}
