.place__url-heading {
  display: inline-flex;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaa;
}

@media screen and (max-width: 767px) {
  .place__url-heading {
    padding-left: 16px;
    padding-right: 16px;
  }
}
